/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  -webkit-tap-highlight-color: transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-blue-500 via-purple-500 to-indigo-500;
  
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-track{
  @apply bg-transparent rounded-full m-1;
}

::-webkit-scrollbar-thumb{
  @apply bg-gray-600 rounded-full hover:bg-indigo-400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-text);
}