<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/A_icon.svg" type="image/svg+xml" />
    <title>Acknowledgement | Adithya Krishna</title>
</head>
<body>
    <div class="flex justify-center items-center h-screen">
        <div class="flex flex-col justify-center items-center pb-12 mt-5 h-screen">
            <p>Thanks to <a href="https://github.com/mhyfritz" target="_blank" class="font-bold">Markus Hsi-Yang Fritz</a> for this <a href="https://github.com/mhyfritz/astro-landing-page" target="_blank" class="font-bold">Template</a></p>
            <p>Thanks to <a href="http://astro.build" target="_blank" class="font-bold">Astro</a></p>
            <p>Thanks to <a href="http://tailwindcss.com" target="_blank" class="font-bold">tailwindcss</a></p>
            <br>
            <a class="rounded-lg flex items-center justify-center gap-3 border-2 border-current px-4 py-2 w-fit hover:scale-[102%]" href="/">Back to Home</a>
        </div>
    </div>
</body>
</html>