---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About me" id="about">
  <Fragment slot="lead">
    <p class="text-center text-sm md:px-16 md:text-lg">
      Hello! I'm Adithya Krishna Eemani, a dynamic professional rooted in Computer Science and Engineering, specializing in
       <span class="text-primary"
        >Artificial Intelligence and Machine Learning</span
      >. Currently, I work at Accenture, contributing to innovative solutions and operational efficiency. I am proficient in <span class="text-primary">Data Structures and Algorithms (DSA) and have strong problem-solving skills</span> enabling me to write efficient code and develop robust solutions. My unwavering commitment centers around catalyzing transformative change through pioneering code development.

      If you seek a motivated and skilled developer with a fervent passion for innovation, then I would love to hear from you!
    </p>
  </Fragment>
  <div class="flex flex-col gap-4 lg:flex-row">
    <a
      href="/adithyakrishna.pdf"
      target="_blank"
      class="flex items-center justify-center gap-3 rounded-lg border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:book" class="size-8" />
      <span>My Resume</span>
    </a>
    <a
      href="https://www.linkedin.com/in/adithyakrishnaeemani"
      target="_blank"
      class="flex w-full items-center justify-center rounded-lg border-2 border-current px-6 py-4 lg:w-48"
    >
      <Icon name="mdi:linkedin" class="size-8 md:size-8 mr-2" />
      <span class="text-base">Connect</span>
    </a>
  </div>
</ContentSection>
