---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Python",
    icon: "simple-icons:python",
    url: "https://reactjs.org/",
  },
  {
    title: "C language",
    icon: "simple-icons:c",
    url: "https://vuejs.org/",
  },
  {
    title: "C++",
    icon: "simple-icons:cplusplus",
    url: "https://preactjs.com/",
  },
  {
    title: "Django",
    icon: "simple-icons:django",
    url: "https://www.solidjs.com/",
  },
  {
    title: "DBMS",
    icon: "simple-icons:googlecloud",
    url: "https://lit.dev/",
  },
  {
    title: "Java Script",
    icon: "simple-icons:javascript",
    url: "https://svelte.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "DataStructures",
    icon: "simple-icons:codeforces",
    url: "https://www.netlify.com/",
  },
  {
    title: "Algorithms",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "ProblemSolving",
    icon: "simple-icons:visualstudiocode",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "MachineLearning",
    icon: "simple-icons:jupyter",
    url: "https://render.com/",
  },
  {
    title: "OS",
    icon: "simple-icons:linux",
    url: "https://pages.github.com/",
  },
  {
    title: "Git & Github",
    icon: "fa-brands:github",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Skills" id="skills">
  <Fragment slot="lead">
    <!-- Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>. -->
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
