---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact me" id="contact">
  <Fragment slot="lead">
    <p class="text-center text-sm md:px-16 md:text-lg">
      Thank you for taking the time to visit my portfolio website. If you have any questions, comments, or inquiries,
       I would love to hear from you! Please feel free to contact me using email. Additionally,
       you can connect with me via my social media handles as I am always open to new opportunities and collaborations.
       I will do my best to respond to your message as soon as possible. Thank you for reaching out!</p>
    <!-- <span class="text-primary">modern</span> web. -->
    <!-- <span class="text-primary">Lightning-fast</span> -->
    <!-- performance meets <span class="text-primary">powerful</span> developer experience. -->
  </Fragment>
  <div class="flex flex-col lg:flex-row gap-4">
    <a href="mailto:adithyakrish169@gmail.com" target="_blank" class="rounded-lg flex items-center justify-center border-2 border-current px-6 py-4 w-full lg:w-48">
      <Icon pack="mdi" name="email" class="h-6 md:h-8 mr-2"/>
      <span class="text-base">Send Mail</span>
    </a>
    <a href="https://www.linkedin.com/in/adithyakrishnaeemani" target="_blank" class="rounded-lg flex items-center justify-center border-2 border-current px-6 py-4 w-full lg:w-48">
      <Icon pack="mdi" name="linkedin" class="h-6 md:h-8 mr-2"/>
      <span class="text-base">Connect</span>
    </a>
  </div>
  
</ContentSection>
