---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import ContactForm from "./contact-form.astro";
---

<ContentSection title="Contact me" id="contact">
  <Fragment slot="lead">
    <!-- <a class="text-sm font-medium rounded-lg flex items-center justify-center gap-3 border-2 border-current px-6 py-4 w-fit">
      <Icon pack="mdi" name="email" class="h-6"/>
      <span class="select-all">hello@adithya-krishna.com</span>
    </a> -->
    <div class="flex items-center justify-center gap-3">
      <Icon pack="mdi" name="email" class="h-8"/>
      <span class="text-md md:text-xl font-medium select-all">hello@adithya-krishna.com</span>
    </div>
    <!-- <span class="text-primary select-all">hello@adithya-krishna.com</span> -->
    <p class="text-center text-sm md:px-16 md:text-lg">
      Thank you for taking the time to visit my portfolio website. <span class="text-primary">Please feel free to contact me using contact form below</span>. Additionally,
       you can connect with me via my social media handles as I am always open to new opportunities and collaborations.
       I will do my best to respond to your message as soon as possible. Thank you for reaching out!
      </p>
  </Fragment>
  <ContactForm/>
</ContentSection>
