---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import ContactForm from "./contact-form.astro";
---

<ContentSection title="Contact me" id="contact">
  <Fragment slot="lead">
    <!-- <span class="text-primary select-all">hello@adithya-krishna.com</span> -->
    <p class="text-center text-sm md:px-16 md:text-lg">
      Thank you for taking the time to visit my portfolio website. <span class="text-primary">Please feel free to contact me using contact form below</span>. Additionally,
       you can connect with me via my social media handles as I am always open to new opportunities and collaborations.
       I will do my best to respond to your message as soon as possible. Thank you for reaching out!
      </p>
  </Fragment>

  <div class="flex flex-col gap-6">
    
    <div class="flex items-center justify-center gap-2">
      <Icon pack="mdi" name="user" class="h-7 md:h-10"/>
      <h1 class="text-md md:text-xl font-medium">Adithya Krishna</h1>
    </div>
  
    <div class="flex items-center justify-center gap-3">
      <Icon pack="mdi" name="email" class="h-6 md:h-8"/>
      <h1 class="text-md md:text-xl font-medium md:select-all">hello@adithya-krishna.com</h1>
    </div>

  </div>


  <ContactForm/>
</ContentSection>
