---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "mdi:handshake",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "mdi:feather",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page. If the user never sees it, they never load it.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Broad Integration",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any of your favorite npm packages.",
    icon: "mdi:graph",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication.",
    icon: "mdi:search-web",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Contact me" id="contact">
  <Fragment slot="lead">
    <p class="text-center text-sm md:px-16 md:text-lg">
    Thank you for taking the time to visit my portfolio website. If you have any questions, comments, 
    or inquiries, I would love to hear from you! Please feel free to contact me using the email. 
    Additionally, I am active on social media, so feel free to connect with me via my social media handles. 
    I welcome any feedback you may have on my work or website, and I am always open to new opportunities 
    and collaborations. I will do my best to respond to your message as soon as possible.
    Thank you for reaching out!  </p>
    <!-- <span class="text-primary">modern</span> web. -->
    <!-- <span class="text-primary">Lightning-fast</span> -->
    <!-- performance meets <span class="text-primary">powerful</span> developer experience. -->
  </Fragment>
  <div>
    <a
      href="/RESUME.pdf" target="_blank"
      class="rounded-lg flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8"/>
      <span>My Resume</span>
    </a>
  </div>
</ContentSection>
