---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "#",
    description: "HomePage",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/AdithyaKrishna169",
    description: "GitHub",
    icon: "fa-brands:github",
  },
  {
    url: "https://www.linkedin.com/in/adithyakrishnaeemani/",
    description: "Linkedin",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://instagram.com/adithyakrishna._",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
];
---
<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link, index) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
            target={index > 0 && index < 4 ? "_blank" : null}
            rel={index > 0 && index < 4 ? "noopener noreferrer" : null}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  @media (min-width: 768px) {
    ul.grid > li:nth-child(n+2):nth-child(-n+4) a {
      target-new: tab;
      -moz-tab-content: url("about:blank");
      -webkit-tab-content: url("about:blank");
      tab-content: url("about:blank");
    }
  }
</style>
