---
import ContentSection from "~/components/content-section.astro";
import ProjectCard from "~/components/project-card.astro";
import { getProjects } from "~/data/projects";

const projects = await getProjects();
---

<ContentSection title="Projects & Achievements" id="projects">
  <Fragment slot="lead">
   <p class="text-center md:px-16 md:text-xl" > My personal projects featured on my portfolio website represent
   my passion for using technology to <span class="text-primary">solve real-world problems</span> and create meaningful experiences for people.
   If you'd like to explore my professional background further, check out my LinkedIn profile. </p> 
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</ContentSection>
