---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Projects & Achievements" id="projects">
  <Fragment slot="lead">
   <p class="text-center md:px-16 text-sm md:text-lg" > My personal projects featured on my portfolio website represent
   my passion for using technology to <span class="text-primary">solve real-world problems</span> and create meaningful experiences for people.
   If you'd like to explore my professional background further, check out my LinkedIn profile. </p> 
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://astro.build/showcase/">
        <!-- ...and more &rarr; -->
      </a>
    </p>
  </div>
</ContentSection>
